.cart{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    padding: 10px 30px;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    box-shadow: -5px 10px 8px rgba(0, 0, 0, .3);
}